h1 {
  font-family: "Abril Fatface", cursive; }

p {
  font-family: "Darker Grotesque", sans-serif; }

section.hero {
  min-height: 20vh;
  background-color: #363636;
  display: grid;
  justify-content: center;
  align-content: end;
  text-align: center;
  padding-bottom: 1rem; }
  section.hero h1 {
    color: #c0422a;
    font-size: 4em; }

section.body {
  padding-top: 2rem;
  min-height: 80vh;
  background-color: #d1c8a6;
  display: grid;
  justify-content: center;
  row-gap: 3rem; }
  section.body .container .video {
    display: flex;
    background-color: #c0422a;
    background-size: cover;
    border-radius: 5px;
    background-position: center;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.25s ease-in-out; }
    section.body .container .video i {
      cursor: pointer;
      color: #d1c8a6;
      font-size: 2em;
      opacity: 0.7;
      transition-property: color, font-size, opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out; }
    section.body .container .video i:hover {
      opacity: 0.9;
      font-size: 3em;
      color: #c0422a; }
  section.body .container .video:hover {
    box-shadow: 10px 10px rgba(54, 54, 54, 0.2); }
  section.body .container .text {
    padding-left: 0.5em; }

footer {
  min-height: 5vh;
  background-color: #d1c8a6; }

@media screen and (min-width: 700px) {
  section.body {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr)); }
    section.body .container {
      height: 120px;
      width: 360px;
      padding: 0 1rem;
      display: grid;
      grid-template-columns: 3fr 1fr;
      justify-content: center;
      justify-self: center;
      align-items: center; }
      section.body .container .video {
        min-height: -webkit-fill-available; }
      section.body .container .text {
        justify-self: center; }
        section.body .container .text h1 {
          font-size: 1.2rem; }
        section.body .container .text p {
          font-size: 1rem; } }

@media screen and (max-width: 700px) {
  section.body .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 1rem;
    height: 200px;
    direction: rtl; }
    section.body .container .text {
      align-self: center;
      padding: 1rem; } }
